<%= @noodnik_topic %>
<%= nag_user_to :do_something_for_a_change do %>
  plain text: hello! <br />
  variable: <%= @noodnik_topic %> <br />
  <p>postpone_for: <%= postpone_for 15.seconds %></p> <br />
link_to: <%= link_to 'Google', 'www.google.com' %> <br />
<% end %>
<%= @noodnik_topic %>
<%= link_to  'Just a normal link', 'www.cnet.com' %>
